<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated comment -->
      <package
            uri="http://www.servicifi.org/gelato/language/comment"
            class="org.servicifi.gelato.language.cobol.comment.CommentPackage"
            genModel="metamodel/comment.genmodel"/>
   </extension>

</plugin>
